In [3]:
import pandas as pd
import numpy as np
import os

In [2]:
 asaf ='hello'

In [18]:
path = r"C:\Users\USER\Documents\STUDIES\geo_python\notebooks\1.L6"
data_path = os.path.join(path, r'data\029440.txt')

In [22]:
data = pd.read_csv(data_path, delim_whitespace=True)
data.head()
#### null values are symbold as * or ** or *** **** ***** ...  by 'na_values'
#### also we dont need all the columns that less intresting for this analysis by 'usecols'
#### rename our columns to more informative names by dict object and 'df.rename(columns=new_name_dict)'

C:\Users\USER\Anaconda3\envs\geocoding\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,11,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,29440,99999,190601010600,090,7,***,***,OVC,*,*,...,1011.0,*****,******,***,***,*****,*****,*****,*****,**
1,29440,99999,190601011300,***,0,***,***,OVC,*,*,...,1015.5,*****,******,***,***,*****,*****,*****,*****,**
2,29440,99999,190601012000,***,0,***,***,OVC,*,*,...,1016.2,*****,******,***,***,*****,*****,*****,*****,**
3,29440,99999,190601020600,***,0,***,***,CLR,*,*,...,1016.2,*****,******,***,***,*****,*****,*****,*****,**
4,29440,99999,190601021300,270,7,***,***,OVC,*,*,...,1015.6,*****,******,***,***,*****,*****,*****,*****,**

In [25]:
arr_na_values =[]
for i in range(0,5):
    append_symb = '*'*(i+1)
    arr_na_values.append(append_symb)
    
arr_na_values

['*', '**', '***', '****', '*****']

In [27]:
data = pd.read_csv(data_path, delim_whitespace=True, na_values = arr_na_values)

C:\Users\USER\Anaconda3\envs\geocoding\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,29440,99999,190601010600,90.0,7.0,NaN,NaN,OVC,NaN,NaN,...,1011.0,NaN,******,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29440,99999,190601011300,NaN,0.0,NaN,NaN,OVC,NaN,NaN,...,1015.5,NaN,******,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29440,99999,190601012000,NaN,0.0,NaN,NaN,OVC,NaN,NaN,...,1016.2,NaN,******,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29440,99999,190601020600,NaN,0.0,NaN,NaN,CLR,NaN,NaN,...,1016.2,NaN,******,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29440,99999,190601021300,270.0,7.0,NaN,NaN,OVC,NaN,NaN,...,1015.6,NaN,******,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
### data proparties.. 
## shape
## haed and tail
## types by dtypes
## describe()
##

In [ ]:
## functions for transforming fahrenheit to celcius 
## 1. itterative way looping on every row  -> not reccomended slow iterrows() in dataframe.. 
## 2. applying the function  by apply()

In [ ]:
# 1. When developing a for-loop, 
# you don’t always need to go trough the whole loop if you just want to test things out.
# break statement in Python terminates the current loop after the first iteration and we used it here just to test 
#check out the values on the first row. With a large data, you might not want to print out thousands of values to the screen!


# Iterate over the rows
for idx, row in data.iterrows():
    # Print the index value
    print('Index:', idx)

    # Print the row
    print('Temp F:', row["TEMP_F"], "\n")

    break
    
# if everything is fine .. 
# Create an empty column for the DataFrame where the values will be stored
new_column = "TEMP_C"
data[new_column] = None

# Iterate over the rows
for idx, row in data.iterrows():
    # Convert the Fahrenheit to Celsius
    celsius = fahr_to_celsius(row['TEMP_F'])

    # Update the value of 'Celsius' column with the converted value
    data.at[idx, new_column] = celsius

In [ ]:
#https://autogis-site.readthedocs.io/en/latest/lessons/L1/overview.html

In [ ]:
#https://geo-python.github.io/site/notebooks/L6/errors.html

In [ ]:
## lesson 7